<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch"
		th:action="@{/business/stock/page}" action="#" method="POST">
		<input type="hidden" id="dId" name="dId" th:value="${dId}" value="-1" />
		<input type="hidden" name="size" th:value="${size}" value="30" /> <input
			type="hidden" name="page" th:value="${page}" value="1" /> <input
			type="hidden" name="orderField" th:value="${orderField}" value="id" />
		<input type="hidden" name="orderDirection"
			th:value="${orderDirection}" value="DESC" />
		<div sec:authorize="hasAnyAuthority('ALL','STOCK_PAGE')" class="bjui-searchBar">
			<label>装备器械名称：</label><input type="text"
				th:value="${{param['search_LIKE_weapon.name']}}" value=""
				name="search_LIKE_weapon.name" class="form-control" size="10" />&nbsp;
			<button type="submit" class="btn-default" data-icon="search">查询</button>
		</div>
	</form>
	<hr style="margin: 5px 0" />
	<div class="pull-left">
		<button sec:authorize="hasAnyAuthority('ALL','STOCKIN_CREATE')"  type="button" data-toggle="navtab" class="btn-red"
			data-id="stock-navtab-new" data-url="business/stockin/create/{#dId}">直接入库</button>
		<button sec:authorize="hasAnyAuthority('ALL','STOCK_SETTING')"  type="button" data-toggle="navtab" class="btn-red"
			data-id="stock-navtab-new" data-url="business/stock/setting/{#bjui-selected}">库存上下限设置</button>	
		<div sec:authorize="hasAnyAuthority('ALL','STOCKIN_PAGE','STOCKINDETAIL_PAGE')"  class="btn-group">
			<button type="button" class="btn-default dropdown-toggle"
				data-toggle="dropdown" data-icon="copy">
				入库出库查询<span class="caret"></span>
			</button>
			<ul class="dropdown-menu right" role="menu">
				<li><a sec:authorize="hasAnyAuthority('ALL','STOCKIN_PAGE')" href="business/stockin/page/{#bjui-selected}"
					data-toggle="navtab"
					data-options="{id:'stock-in-page', faicon:'caret-right'}">入库单信息</a></li>
				<li><a sec:authorize="hasAnyAuthority('ALL','STOCKINDETAIL_PAGE')" href="business/stockindetail/pages/{#bjui-selected}"
					data-toggle="navtab"
					data-options="{id:'stock-in-detail-page', faicon:'caret-right'}">可用明细</a></li>
			</ul>
		</div>
		<div class="btn-group">
		</div>
	</div>
</div>
<div class="bjui-pageContent tableContent">
	<table class="table table-bordered table-hover table-striped table-top" style="width:1200px">
		<thead>
			<tr>
				<th width="26"><input type="checkbox" class="checkboxCtrl"
					data-group="ids" data-toggle="icheck" /></th>
				<th width="150">所属机构</th>
				<th data-order-field="name" width="200">装备器械名称</th>
				<th width="100">库存上下限</th>
				<th width="50">当前库存量</th>
				<th width="40">库存总量</th>
				<th>分布情况</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${content}" th:attr="data-id=${e.id}">
				<td><input type="checkbox" name="ids" data-toggle="icheck"
					th:value="${e.id}" value="-1" /></td>
				<td th:text="${e.depart.name}" >所属机构</td>
				<td th:text="${e.weapon.name}" >装备器械名称</td>
				<td th:text="${e.minMaxdisplay}" >库存上下限</td>
				<td th:text="${e.inventory}" >当前机构库存数量</td>
				<td th:text="${e.total}" >库存总量</td>
				<td th:text="${e.description}">分布情况</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bjui-pageFooter">
	<div class="pages">
		<span th:text="'每页 '+${size}+' 条 '">每页 0 条</span> &nbsp; <span
			th:text="',共 '+${total}+' 条 '">共 0 条</span>
	</div>
	<div class="pagination-box" data-toggle="pagination"
		th:attrappend="data-total=${total},data-page-size=${size},data-page-current=${page}">
	</div>
</div>