<div class="bjui-pageContent">
	<form action="#" id="department_form"
		th:action="@{/business/stockin/{path}(path=${action})}" method="POST"
		th:object="${stockin}" data-toggle="validate" data-alertmsg="false">
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<input type="hidden" name="depart.id" th:value="${department.id}" />
				<tr>
					<td colspan="4"><label class="control-label x95">入库装备：</label>
						<select data-toggle="selectpicker" data-width="150"
						th:field="*{weapon}">
							<option th:each="w : ${weapons}" th:value="${w.code}"
								th:text="${w.name}">装备名称</option>
					</select></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">生产日期：</label>
						<input type="text" th:field="*{productionDate}"
						name="productionDate" data-toggle="datepicker"
						data-rule="required;date" size="15" /></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">入库数量：</label>
						<input type="text" th:field="*{capacity}" name="capacity"
						data-toggle="spinner" data-rule="required digits"
						data-max="100000" data-min="1" size="15" /></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">购置渠道：</label>
						<select data-toggle="selectpicker" data-width="150"
						th:field="*{stockInCategory}">
							<option th:each="w : ${categories}" th:value="${w.code}"
								th:text="${w.name}">购置渠道</option>
					</select></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">自带编号：</label>
						<input type="text" th:field="*{weaponCodes}" name="weaponCodes"
						size="60" /></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">备注：</label> <textarea
							name="descrip" th:field="*{descrip}" data-toggle="autoheight"
							cols="60" rows="8"></textarea></td>

				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>