<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch"
		th:action="@{/business/stock/page}" action="#" method="POST">
		<input type="hidden" id="dId" name="dId" th:value="${dId}" value="-1" /> <input type="hidden" name="size" th:value="${size}"
			value="30" /> <input type="hidden" name="page" th:value="${page}"
			value="1" /> <input type="hidden" name="orderField"
			th:value="${orderField}" value="id" /> <input type="hidden"
			name="orderDirection" th:value="${orderDirection}" value="DESC" />
		<div sec:authorize="hasAnyAuthority('ALL','STOCK_PAGE')" class="bjui-searchBar">
			<label>装备器械名称：</label><input type="text"
				th:value="${{param['search_LIKE_weapon.name']}}" value=""
				name="search_LIKE_weapon.name" class="form-control" size="10" />&nbsp;
			<button type="submit" class="btn-default" data-icon="search">查询</button>
		</div>
	</form>
	<hr style="margin: 5px 0" />
</div>
<div class="bjui-pageContent tableContent">
	<table data-toggle="tablefixed" data-width="100%" data-nowrap="true"
		data-selected-multi="true">
		<thead>
			<tr>
				<th width="26"><input type="checkbox" class="checkboxCtrl"
					data-group="ids" data-toggle="icheck" /></th>
				<th>所属机构</th>
				<th data-order-field="name">装备器械名称</th>
				<th data-order-field="productionDate">生产日期</th>
				<th>入库数量</th>
				<th>自带编号</th>
				<th data-order-field="createDate">入库时间</th>
				<th>购置来源</th>
				<th>操作用户</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${content}" th:attr="data-id=${e.id}">
				<td><input type="checkbox" name="ids" data-toggle="icheck"
					th:value="${e.id}" value="-1" /></td>
				<td th:text="${e.depart.name}">所属机构</td>
				<td th:text="${e.weapon.name}">装备器械名称</td>
				<td th:text="${e.productionDate}">生产日期</td>
				<td th:text="${e.capacity}">库存数量</td>
				<td th:text="${e.weaponCodes}">自带编号</td>
				<td th:text="${e.createDate}">入库时间</td>
				<td th:text="${e.stockInCategoryName}">购置来源</td>
				<td th:text="${e.createUser.name}">操作用户</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bjui-pageFooter">
	<div class="pages">
		<span th:text="'每页 '+${size}+' 条 '">每页 0 条</span> &nbsp; <span
			th:text="',共 '+${total}+' 条 '">共 0 条</span>
	</div>
	<div class="pagination-box" data-toggle="pagination"
		th:attrappend="data-total=${total},data-page-size=${size},data-page-current=${page}">
	</div>
</div>