<div class="bjui-pageContent">
	<form action="#" id="requestform_form"
		th:action="@{/business/requestform/{path}(path=${action})}"
		method="POST" th:object="${requestform}" data-toggle="validate"
		data-alertmsg="false">
		<table class="table table-condensed table-hover" width="100%">
			<tbody>

				<tr>
					<td><label class="control-label x95">所属机构信息：</label> <input
						type="text" disabled="disabled" th:value="${departmentName}"
						size="15" /> <input type="hidden" name="id" th:value="${id}" /><input
						type="hidden" id="dId" name="depart.id" th:value="${departmentId}" /></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">申请装备：</label>
						<input type="text" disabled="disabled" name="weaponName" data-rule="required"
						data-toggle="lookup" data-id="re-weapon-searchform"
						data-title="装备查找"
						data-url="business/stock/ajax/search/weapon/{#dId}"
						 size="15" /><input type="hidden" name="weapon"  data-rule="required" /></td>
				</tr>
				<tr>
					<td colspan="4"><label class="control-label x95">装备库存情况：</label>
						<textarea cols="60" rows="8" name="stockDes" 
							disabled="disabled" /></td>
				</tr>
				<tr>
					<td colspan="4"><label class="control-label x95">申请数量：</label>
						<input type="text" th:field="*{capacity}" name="capacity"
						data-toggle="spinner" data-rule="required;integer; range[1~100000]" data-min="1"
						data-max="100000" size="15" /></td>
				</tr>
				<tr>
					<td><label for="j_custom_fname" class="control-label x95">领用日期：</label>
						<input type="text" th:field="*{requiredDate}" name="requiredDate"
						data-toggle="datepicker" data-rule="required;date" size="15" /></td>
				</tr>
				<tr>
					<td colspan="4"><label class="control-label x95">备注：</label> <textarea
							name="descrip" th:field="*{descrip}" data-toggle="autoheight"
							cols="60" rows="8"></textarea></td>

				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>