<div class="bjui-pageContent">
	<form action="#" id="requestform_form"
		th:action="@{/business/requestform/{path}(path=${action})}" method="POST"
		th:object="${requestform}" data-toggle="validate" data-alertmsg="false">
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
			
				<tr>
					<td><label for="j_custom_name" class="control-label x95">所属机构信息：</label>
						<input type="text" disabled="disabled" th:value="${departmentName}" size="15" /> <input type="hidden" name="id"
						th:value="${id}" /><input type="hidden" name="depart.id"
						th:value="${departmentId}" /></td>
				</tr>
				
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">申请装备：</label> <select
						data-toggle="selectpicker" data-width="150" th:field="*{weapon}">
							<option th:each="w : ${weapons}" th:value="${w.id}"
								th:text="${w.name}">装备名称</option>
					</select></td>
				</tr>
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">申请数量：</label> 
					<input type="text" th:field="*{capacity}" name="capacity" data-toggle="spinner"
						data-rule="required digits" data-max="100000" size="15" />
					</td>
				</tr>
				<tr>
					<td><label for="j_custom_fname" class="control-label x95">领用日期：</label>
						<input type="text" th:field="*{requiredDate}" name="requiredDate"  data-toggle="datepicker" data-rule="required;date" size="15" />
						</td>
				</tr>
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">备注：</label> <textarea name="descrip"
							th:field="*{descrip}" data-toggle="autoheight" cols="60" rows="8"></textarea>
						
					</td>
					
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>