<div class="bjui-pageContent">
	<form action="#" id="requestform_form"
		th:action="@{/business/requestform/out}" method="POST"
		th:object="${requestform}" data-toggle="validate"
		data-alertmsg="false">
		<table class="table table-condensed table-hover" width="100%">
			<tbody>

				<tr>
					<td><label class="control-label x95">申请简述：</label> <input
						type="text" disabled="disabled" th:value="${overview}"
						size="60" /> <input type="hidden" name="id" th:value="${id}" /><input
						type="hidden" id="dId"  th:value="${departmentId}" /><input
						type="hidden" id="wId" th:value="${weaponId}" /></td>
				</tr>

				<tr>
					<td colspan="4"><label class="control-label x95">申请装备：</label>
						<input type="text" disabled="disabled" name="weaponName"
						data-rule="required" data-toggle="lookup"
						data-id="re-weapon-searchform" data-title="装备查找"
						data-url="business/requestform/ajax/search/weapon/detail/{#dId}/{#wId}"
						size="15" /><input type="hidden" name="detailId"  data-rule="required" /></td>
				</tr>
				<tr>
					<td colspan="4"><label class="control-label x95">装备信息：</label>
						<textarea cols="60" rows="8" name="info" disabled="disabled" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>