<div class="bjui-pageContent">
	<form action="#" id="requestform_form"
		th:action="@{/business/requestform/modify}" method="POST"
		th:object="${requestform}" data-toggle="validate" data-alertmsg="false">
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
			
				
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">装备：</label>
						<input type="text" disabled="disabled" th:field="*{weapon.name}" size="15" /><input type="hidden" name="id"
						th:value="${id}" />
					</td>
				</tr>
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">申请数量：</label> 
						<input type="text" disabled="disabled" th:field="*{capacity}" size="15" />
					</td>
				</tr>
				<tr>
					<td><label for="j_custom_fname" class="control-label x95">领用日期：</label>
					<input type="text" disabled="disabled" th:field="*{requiredDate}" size="15" />
						</td>
				</tr>
				<tr>
					<td><label for="j_custom_fname" class="control-label x95">领用人：</label>
					<input type="text" name="requiredUser" th:field="*{requiredUser}" size="15" />
						</td>
				</tr>
				<tr>
					<td colspan="4"><label for="j_custom_note"
						class="control-label x95">备注：</label> 
						<textarea name="descrip" disabled="disabled"
							th:field="*{descrip}" data-toggle="autoheight" cols="60" rows="8"></textarea>
					</td>
					
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>