<div class="bjui-pageHeader">
	 <div class="bjui-searchBar">
            <div class="pull-right">
                <input type="checkbox" name="lookupType" value="1" data-toggle="icheck" data-label="追加" checked="checked"></input>
            </div>
        </div>
</div>
<div class="bjui-pageContent">
	<table data-toggle="tablefixed" data-width="100%">
		<thead>
			<tr>
				<th>装备信息</th>
				<th width="74">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${content}" th:attr="data-id=${e.id}">
				<td th:text="${e.info}">机构</td>
				<td><a href="javascript:;" data-toggle="lookupback"
					th:attr="data-args=${e.searchDes}" class="btn btn-blue"
					title="选择本项" data-icon="check">选择</a></td>
			</tr>
		</tbody>
	</table>
</div>