@charset "utf-8";
body {
	background: #0398ec;
	margin: 0;
	padding: 0;
	background-image:url(../images/loginback1280.png);
	background-repeat:no-repeat;
	background-position:top;
}
img {border:0}

.inputleft {
	width:60px;
	height:64px;
	text-align:right;
	vertical-align:middle;
}

.inputtxt {
	height:26px;
	width:170px;
	background-color:#b6dbf1;
	border:0;
}