<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>武警-装备管理</title>
</head>
<body>
	<div class="content">
		<p th:if="${param.logout}" class="alert">You have been logged out</p>
		<p th:if="${param.error}" class="alert alert-error">There was an
			error, please try again</p>
		<h2>Login with Username and Password</h2>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</div>
</body>
</html>